<!-- Audio Section -->
<audio-sub>
    <section id="audio">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
                <img class="audioimage" src= "{{site.baseurl}}/assets/img/audio_illustration.png" alt = "Release Manegement Logo of mountain with finish line">
              </div>
              <div class="col-md-6 subtext">
                <span class="text-centered">
                  <img class="divider2" src= "{{site.baseurl}}/assets/img/vine_2_light_green_left.png" height = 40px aria-hidden="true">
                  <h2 class="divider2 section-heading">Audio, Music, and SFX</h2>
                  <img class="divider2" src= "{{site.baseurl}}/assets/img/vine_2_light_green_right.png" height = 40px aria-hidden="true">
                </span>
                <p class="med"> With our our vast background in usability and game design, we have a strong understanding of what a
game needs from an audio perspective to cultivate the desired player experience. We deeply
immerse ourselves in every game we work on to do the best job possible of adding sound and
<br>
<br>
music that elevates the game. We’re able to integrate the audio with any of our other services to
offer a fully comprehensive and holistic game vantage point. </p>
              </div>
              </div>
              </section>
</audio-sub>
