<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"> <img class="headerlogo" src= "{{site.baseurl}}/assets/img/plastic_fern_studios_logo_for_light_bg-small.png" alt = "Plastic Fern Logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.baseurl}}/dev-services/">Dev Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.baseurl}}/#about">About Us</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.baseurl}}/jobs/">Jobs</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.baseurl}}/#clients">Clients</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.baseurl}}/#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Jobs Section -->
<Jobs>
    <section id="jobintro">
        <div class="container">
          <div class="row pagehead">
            <span class="text-centered">
            <img class="divider2" src= "{{site.baseurl}}/assets/img/vine_2_light_green_left.png" height = 40px aria-hidden="true">
            <h2 class="divider2 section-heading-first">Work With Us</h2>
            <img class="divider2" src= "{{site.baseurl}}/assets/img/vine_2_light_green_right.png" height = 40px aria-hidden="true">
          </span>
          <br>
          <p class="med"> We're always looking for interesting people to join our team, so contact us at
<a class = "jobs" href="mailto:jobs@plasticfernstudios.com">jobs@plasticfernstudios.com</a>
 with your information and resume!
 <p class="med"> <strong>Why work with us?</strong> Here's a few reasons: We value the health and happiness of our team, we value long-term job stability and growth, we get to work on interesting new games and platforms, we value learning and giving space for growth, we're a small collaborative team, we approach games holistically, and believe in fostering transparent and honest communication.</p>
 <p class="med"> <strong>Ok sure but what about benefits?</strong> We offer health, dental, and vision insurance to all employees, we don't have core hours (so parents and others can schedule how they need to), we believe in a healthy work/life balance free from "crunch", we have regular time off throughout the year, we're a remote studio with no "home office", we believe in giving back to our communities and supporting them!</p>

          </div>
        </div>
    </section>

    <section id="jobposting">
      <div class="container">
        <div class="row pagehead">
            <img class="values" src= "{{site.baseurl}}/assets/img/employee_well_being_500.png" aria-hidden="true">
            <h3 class="section-heading">Nothing Right Now</h3>
            <p class="med"> We're not seeking any open positions currently but feel free to reach out to our jobs email if you feel like your unique skills could benefit our studios somehow!</p>
        </div>
     </section>
</Jobs>
