<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"> <img class="headerlogo" src= "{{site.baseurl}}/assets/img/plastic_fern_studios_logo_for_light_bg-small.png" alt = "Plastic Fern Logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.baseurl}}/dev-services/">Dev Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.baseurl}}/#about">About Us</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.baseurl}}/jobs/">Jobs</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.baseurl}}/#clients">Clients</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.baseurl}}/#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Jobs Section -->
<Jobs>
    <section id="jobintro">
        <div class="container">
          <div class="row pagehead">
            <span class="text-centered">
            <img class="divider2" src= "{{site.baseurl}}/assets/img/vine_2_light_green_left.png" height = 40px aria-hidden="true">
            <h2 class="divider2 section-heading-first">Work With Us</h2>
            <img class="divider2" src= "{{site.baseurl}}/assets/img/vine_2_light_green_right.png" height = 40px aria-hidden="true">
          </span>
          <br>
          <p class="med"> We're always looking for interesting people to join our team, so contact us at
<a class = "jobs" href="mailto:jobs@plasticfernstudios.com">jobs@plasticfernstudios.com</a>
 with your information and resume!
 <p class="med"> <strong>Why work with us?</strong> Here's a few reasons: We value the health and happiness of our team, we value long-term job stability and growth, we get to work on interesting new games and platforms, we value learning and giving space for growth, we're a small collaborative team, we approach games holistically, and believe in fostering transparent and honest communication.</p>
 <p class="med"> <strong>Ok sure but what about benefits?</strong> We offer health, dental, and vision insurance to all employees, we don't have core hours (so parents and others can schedule how they need to), we believe in a healthy work/life balance free from "crunch", we have regular time off throughout the year, we're a remote studio with no "home office", we believe in giving back to our communities and supporting them!</p>

          </div>
        </div>
    </section>

    <section id="jobposting">
      <div class="container">
        <div class="row pagehead">
            <img class="values" src= "{{site.baseurl}}/assets/img/employee_well_being_500.png" aria-hidden="true">
            <h3 class="section-heading">Unity Porting Programmer (Contract and Contract to Full-Time available)</h3>
            <p class="med"> We need some help with current and future porting projects and have immediate needs that can be filled if you have the skills to help out! We need someone with experience in any of the below areas:</p>
            <br>
            <strong>Some skills we think would be nice to have, but all of them are not required (it's ok to know just a few!):</strong>
            <ul>
              <li>Knowledge of important data structures like arrays, stacks, and queues</li>
              <li>Performance aware approaches and knowing when something might not be performant enough, or being able to pick out systems that could potentially perform poorly</li>
              <li>Language: C#</li>
              <li>Engines: Unity</li>
              <li>Experience doing multiplayer or online games for consoles
              <li>Development experience on any of these: Nintendo Switch, Microsoft Xbox Family, or Sony PlayStation family of consoles</li>
              <li>Memory, loading/unloading, and garbage collection basics</li>
              <li>Ability to learn new platforms and tools</li>
              <li>The ability to identify a problem we are solving for and only solve that problem without adding additional complexity</li>
              <li>Knowing when to solve a problem by writing code and when not to (not every problem requires it). Has developed for any of these platforms (multiple platforms is a bonus!): Nintendo Switch, Microsoft Xbox Family, Sony PlayStation Family, Apple</li>
              <li>Understand platform limits (memory, cpu, gpu) and know what targets we should aim for and how those translate from in-game to hardware</li>
            </ul>
            <br>
            <strong>Responsibilities would vary depending on your skills and can be discussed!</strong>

            <br>

            <strong>Values and communication skills:</strong>
            <ul>
              <li>Values working with diverse teams on unique games and trying to bring new and interesting/artistic work to market.</li>
              <li>Drive to view games holistically and bring the vision of the developer’s work to life.</li>
              <li>Self-motivated, for both learning and for working on solutions for your projects.</li>
              <li>The ability to communicate effectively and collaborate with team members and other studios</li>
              <li>The ability to multitask, or work on multiple projects simultaneously</li>
            </ul>
            <br>
            <strong>Benefits:</strong>
            <ul>
              <li>Health, dental, and vision insurance to all employees</li>
              <li>Flexible schedules</li>
              <li>Healthy work/life balance free from "crunch"</li>
              <li>Regular time off throughout the year</li>
              <li>Remote studio with no "home office" (International candidates feel free to apply!)</li>
              <li>Fair compensation and bonuses (+ rev share potential)</li>
            </ul>
            <br>
            <strong>Compensation:</strong>
            <ul>
              <li>Based on experience and ability but our junior programmers make a minimum of $55k USD (plus benefits/bonuses above). Mid-level to Senior programmers would be higher and based on their experience and skillset.</li>
            </ul>
            <br>
            <h2>Next Steps:</h2>
            <strong>Email</strong> <a href="mailto:jobs@plasticfernstudios.com">jobs@plasticfernstudios.com</a> and send us any code examples, past projects, or interesting things related to the position you think we should see so we can set up an interview.
            We won’t ask you to do a code test, but will ask you some questions to determine your skill level in various subjects related to the needs above.
            If we think you might be a good fit, we’ll ask you to work alongside our team to determine how well you can work within our studio and with us specifically!
          </div>
        </div>
     </section>
</Jobs>
