<!-- Porting Section -->
<porting>
    <section id="porting">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-push-6">
              <img class="portimage" src= "{{site.baseurl}}/assets/img/porting_illustration.png" alt = "Release Manegement Logo of mountain with finish line">
            </div>
            <div class="col-md-6 col-lg-pull-6 subtext">
              <span class="text-centered">
                <img class="divider2" src= "{{site.baseurl}}/assets/img/vine_2_light_green_left.png" height = 40px aria-hidden="true">
                <h2 class="divider2 section-heading">Porting</h2>
                <img class="divider2" src= "{{site.baseurl}}/assets/img/vine_2_light_green_right.png" height = 40px aria-hidden="true">
              </span>
              <p class="med"> Plastic Fern are experts in porting your game onto almost any platform. By cultivating optimal
performance and putting user-experience first, we work to ensure that the game remains true to
the authentic experience the developer intended to create. Our team is integrated and multi-
faceted, so you don’t need to further outsource.
<br>
<br>
Looking at each project with a holistic lens, we pride ourselves fostering strong relationships with
the teams we work with and cultivating open, honest, and thorough communication for efficiency
and productivity. We know game dev inside and out and are able to clearly communicate
deadlines and timelines, to ensure you’re hitting your desired goals. </p>
            </div>
            </div>
            </section>

</porting>
