<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
          <div class="row portheader">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Portfolio</h2>
                  <img class="divider1" src= "{{site.baseurl}}/assets/img/vine_1_green.png" height = 60px aria-hidden="true">
                  <br>
                  <br>
              </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://www.summerfallstudios.com/stray-gods"><img src= "{{site.baseurl}}/assets/img/straygods.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://apps.apple.com/nl/app/ridiculous-fishing-ex/id1610164691?l=en"><img src= "{{site.baseurl}}/assets/img/fishing.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://nightschoolstudio.com/oxenfree-ii/"><img src= "{{site.baseurl}}/assets/img/oxenfreeII.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://www.welltold.games/the-foglands"><img src= "{{site.baseurl}}/assets/img/foglands.jpg" class ="port_img"></a>
            </div>

            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/1812090/Escape_Academy/"><img src= "{{site.baseurl}}/assets/img/escapeacademy.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://apps.apple.com/us/app/descenders/id1604675493"><img src= "{{site.baseurl}}/assets/img/descenders.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/1141050/Nour_Play_with_Your_Food/"><img src= "{{site.baseurl}}/assets/img/nour.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/1870630/Virtual_Virtual_Reality_2/"><img src= "{{site.baseurl}}/assets/img/vvr2.jpg" class ="port_img"></a>
            </div>

            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://www.playstation.com/en-us/games/salt-and-sacrifice/"><img src= "{{site.baseurl}}/assets/img/saltandsacrifice.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/1184760/Shovel_Knight_Pocket_Dungeon/"><img src= "{{site.baseurl}}/assets/img/pocketdungeon.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://www.nintendo.com/games/detail/the-red-lantern-switch/"><img src= "{{site.baseurl}}/assets/img/redlantern.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://www.patricksparabox.com/"><img src= "{{site.baseurl}}/assets/img/parabox.jpg" class ="port_img"></a>
            </div>

            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/1039100/No_Place_for_Bravery/"><img src= "{{site.baseurl}}/assets/img/NoPlaceForBravery.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/856890/JUSTICE_SUCKS_RECHARGED/"><img src= "{{site.baseurl}}/assets/img/justicesucks.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://flightschoolstudio.com/en/stonefly"><img src= "{{site.baseurl}}/assets/img/stonefly.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://sundaemonth.com/"><img src= "{{site.baseurl}}/assets/img/pupper.jpg" class ="port_img"></a>
            </div>

            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://www.nintendo.com/games/detail/cosmic-express-switch/"><img src= "{{site.baseurl}}/assets/img/cosmic.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="http://www.pillowcastlegames.com/"><img src= "{{site.baseurl}}/assets/img/superliminal.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/1120480/The_Anacrusis/"><img src= "{{site.baseurl}}/assets/img/anacrusis.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://www.arcadegeddon.com/"><img src= "{{site.baseurl}}/assets/img/arcade.jpg" class ="port_img"></a>
            </div>

            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://www.floppyknights.com/""><img src= "{{site.baseurl}}/assets/img/floppy.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://www.nintendo.com/games/detail/nuts-switch/"><img src= "{{site.baseurl}}/assets/img/nuts.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/971030/SkateBIRD/"><img src= "{{site.baseurl}}/assets/img/birb.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/1490340/We_Are_OFK/"><img src= "{{site.baseurl}}/assets/img/weareofk.jpg" class ="port_img"></a>
            </div>

            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://bugsnax.com/"><img src= "{{site.baseurl}}/assets/img/bugsnax.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://play.date/"><img src= "{{site.baseurl}}/assets/img/playdate.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://www.nintendo.com/games/detail/falcon-age-switch/"><img src= "{{site.baseurl}}/assets/img/falcon.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://apps.apple.com/us/app/a-monsters-expedition/id1449606823"><img src= "{{site.baseurl}}/assets/img/monsters.jpg" class ="port_img"></a>
            </div>

            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://goose.game/"><img src= "{{site.baseurl}}/assets/img/UGG.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://samuraipunk.com/feather"><img src= "{{site.baseurl}}/assets/img/feather.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/1440440/Sam__Max_Save_the_World/"><img src= "{{site.baseurl}}/assets/img/samandmax.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://apps.apple.com/us/app/next-stop-nowhere/id1466708191"><img src= "{{site.baseurl}}/assets/img/nextstopnowhere.jpg" class ="port_img"></a>
            </div>

            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/1062140/Garden_Story/"><img src= "{{site.baseurl}}/assets/img/gardenstory.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://www.cleaversoft.com/"><img src= "{{site.baseurl}}/assets/img/earthnight.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://www.klei.com/games/hot-lava"><img src= "{{site.baseurl}}/assets/img/hotlava.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="http://genesisnoirgame.com/"><img src= "{{site.baseurl}}/assets/img/genesisnoir.jpg" class ="port_img"></a>
            </div>

            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://www.klei.com/games/griftlands"><img src= "{{site.baseurl}}/assets/img/griftlands.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://www.supergiantgames.com/games/hades/"><img src= "{{site.baseurl}}/assets/img/hades.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/755470/The_World_Next_Door/"><img src= "{{site.baseurl}}/assets/img/twnd.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/1148650/The_Legend_of_BumBo/"><img src= "{{site.baseurl}}/assets/img/bumbo.jpg" class ="port_img"></a>
            </div>

            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://camouflaj.com/republique/"><img src= "{{site.baseurl}}/assets/img/repub.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/712640/Dont_Starve_Hamlet/"><img src= "{{site.baseurl}}/assets/img/dshamlet.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://www.klei.com/games/invisible-inc"><img src= "{{site.baseurl}}/assets/img/invisibleincp.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://subsetgames.com/itb.html"><img src= "{{site.baseurl}}/assets/img/intothebreach.jpg" class ="port_img"></a>
            </div>

            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://www.klei.com/games/mark-ninja/age"><img src= "{{site.baseurl}}/assets/img/motn.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/747620/Joggernauts/"><img src= "{{site.baseurl}}/assets/img/joggernauts.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/838010/Double_Cross/"><img src= "{{site.baseurl}}/assets/img/doublecross.jpg" class ="port_img"></a>
            </div>
            <div class="col-md-3 col-xs-6 portfolio">
              <a href="https://store.steampowered.com/app/1063310/Vane/"><img src= "{{site.baseurl}}/assets/img/vane.jpg" class ="port_img"></a>
            </div>
          </div>
        </div>
    </section>
