<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{{site.baseurl}}"> <img class="headerlogo" src= "{{site.baseurl}}/assets/img/plastic_fern_studios_logo_for_light_bg-small.png" alt = "Plastic Fern Logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                  <a class="page-scroll" href="{{site.baseurl}}/#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.baseurl}}/#about">About Us</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.baseurl}}/#clients">Clients</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.baseurl}}/#contact">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.baseurl}}/jobs/">Jobs</a>
                </li>
                <li>
                  <a class="page-scroll" href="{{site.baseurl}}/resources/">Resources</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Resources section -->

<resources>
  <section id="latestpost">
    <div class="container">

      <div class="row pagehead">
        <div class="col-lg-12 text-center">
          <img class="blogimage"  src= "{{site.baseurl}}/assets/img/employee_well_being_500.png" aria-hidden="true">
          <h2 class="section-heading">Latest Blog Post</h2>
          <img src= "{{site.baseurl}}/assets/img/vine_4_light_green.png" height = 30px aria-hidden="true">
<br>
        </div>
<br>           <div class="col-lg-12">

<br>
          {% for post in site.posts limit:1 %}
              <a class="latest" href="{{ post.url }}">{{ post.title }}</a>
             <p> {{ post.excerpt }}</p>
             . . .
             <br>
             <a href="{{ post.url }}" class="page-scroll btn-xl">Read More!</a>
          {% endfor %}

        <br>
</div>
  </div>

   </section>
   <section id="otherposts">
     <div class="container">
       <div class="col-lg-12 text-center">
       <img class="blogimage" src= "{{site.baseurl}}/assets/img/logo_cute_PF.png" aria-hidden="true">
           <h2 class="section-heading">Other Blog Posts</h2>
           <img src= "{{site.baseurl}}/assets/img/vine_1_green.png" height = 30px aria-hidden="true">
<br>
<br>
<br>
           <ul class= "posts-left">
             {% for post in site.posts %}
             <li>
              <a class="posts" href="{{ post.url }}">{{ post.title }}</a>
             </li>
             {% endfor %}
           </ul>
       </div>
        </div>
    </section>

   <section id="timeline">
     <div class="container">
   <div class="row">
     <div class="col-md-4 col-lg-push-8 subtext">
       <h2 class="divider2 section-heading pagehead" style= "color:white";>What Does a General Timeline Look Like?</h2>
       <p class="med" style= "color:white";>
         We've created a general timeline to help developers plan ahead and schedule accordingly for what they might need. Our services can start as early as the planning stages with developers, all the way through post-release and everything in between.
         <br>
         <br>
Our flexibility and vast experience can be helpful for short-term or well as long-term needs, to ensure your game gets to where it needs to be-- in the hands of the players!         </p>
       <br>
       <br>
       <div id = "timeline-dl" class="btn-centered">
         <a href="{{site.baseurl}}/assets/docs/Plastic-Fern-Development-Timeline.pdf" class="btn-xl">Download this Chart!</a>
       </div>
     </div>
     <div class="col-md-8 col-lg-pull-4 subtext">
       <img class="centered tlchart pagehead" src= "{{site.baseurl}}/assets/img/timeline_draft.png" alt = "What release management is and isn't" width="1000px">
     </div>
   </div>
   </div>
</section>
</resources>
