<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{{site.baseurl}}/#page-top"><img class="headerlogo"  src= "{{site.baseurl}}/assets/img/plastic_fern_studios_logo_for_light_bg-small.png" alt = "Plastic Fern Logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#releasemanagement">Release Management</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#porting">Porting</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#qualityassurance">QA</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#audio">Audio</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<!-- Release Management Section -->
<RM>
    <section id="releasemanagement">
        <div class="container">
          <div class="row pagehead">
          <div class="col-md-6 col-md-push-6 pagehead">
                <img class="image" src= "{{site.baseurl}}/assets/img/release_management_illustration.png" alt = "Release Manegement Logo of mountain with finish line">
              </div>
              <div class="col-md-6 col-lg-pull-6 subtext pagehead">
                <span class="text-centered">
                  <img class="divider2" src= "{{site.baseurl}}/assets/img/vine_2_light_green_left.png" height = 40px aria-hidden="true">
                  <h2 class="divider2 section-heading">Release Management</h2>
                  <img class="divider2" src= "{{site.baseurl}}/assets/img/vine_2_light_green_right.png" height = 40px aria-hidden="true">
                </span>
                <p class="med"> We specialize in release management, ensuring you have the necessary requirements,
              understanding, and deliverables to get your game through certification on almost any platform.
  <br>
  <br>
              We simplify the process of getting your game through completion to launch by providing concrete,
              tangible steps along the way while maximizing efficiency and productivity. Our veteran team has
              vast knowledge of what is required to pass, saving you time, energy, brainpower and mistakes.</p>
              </div>
              </div>
    </section>
    <section id="bottomsection">
      <div class="container">
              <div class="row">
                <div class="col-md-6">
                <img class="centered rmchart pagehead" src= "{{site.baseurl}}/assets/img/release_management_chart_draft.png" alt = "Release Manegement Logo of mountain with finish line">
                </div>
                <div class="col-md-6 subtextright">
                  <h2 class="section-heading pagehead">But what <i>is</i>  Release Management?</h2>
                  <p class="med">
                Whether you've never released a game, or have done it many many times, our team is here to help guide you through the process and offload some of work and stress from your team, so you can focus on what you need to. Our team has experience in many areas, which is necessary to navigate the complications of releasing a game on time (and hopefully on budget!) We want to help you see that through.
                  <br>
                  <br>
                 Our team looks at each project through an all-encompassing lens, providing us with valuable
                 insight that maintain the original vision and integrity of the game while keeping to your desired
                 timeline.                </p>
                 <br>
                 <br>
                 <div id = "rmchart-dl" class="btn-centered">
                   <a href="{{site.baseurl}}/assets/docs/Plastic-Fern-What-Is-Release-Management.pdf" class="btn-xl">Download this Chart!</a>
                 </div>
                </div>
                </div>

    </section>
</RM>
