<!-- About Section -->
<about>
    <section id="values">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img class="divider3" src= "{{site.baseurl}}/assets/img/vine_3_green_left.png" aria-hidden="true">
                    <h2 class="divider3 section-heading">Our Values</h2>
                    <img class="divider3" src= "{{site.baseurl}}/assets/img/vine_3_green_right.png" aria-hidden="true">
                    <br>
                    <br>
                </div>
            </div>
                    <div class="valuespad2 row">
                      <div class="valuespad col-lg-4">
                        <img class="values" src= "{{site.baseurl}}/assets/img/collaboration_500.png" aria-hidden="true">
                              <p class="text-values text-center">Collaboration</p>
                              <p class="text-secondary">We work with you to understand the best
                                solutions for your game, and communicate those clearly to help
                                maximize time and budget.</p>
                      </div>
                      <div class="valuespad col-lg-4">
                        <img class="values" src= "{{site.baseurl}}/assets/img/user_experience_500.png" aria-hidden="true">
                              <p class="text-values text-center">User Experience First</p>
                              <p class="text-secondary">We believe in looking at the game from a holistic lens, ensuring
    that our work bolsters the authentic player experience you’re looking to create.</p>
                      </div>
                      <div class="valuespad col-lg-4">
                        <img class="values" src= "{{site.baseurl}}/assets/img/transparency_500.png" aria-hidden="true">
                              <p class="text-values text-center">Transparency</p>
                              <p class="text-secondary">An honest relationship is paramount to success. We will always be honest
    with you and with ourselves about timelines, concerns, or questions that arise.</p>
                      </div>
                      </div>
                      <div class="row">
                        <div class="valuespad col-lg-6">
                          <img class="values" src= "{{site.baseurl}}/assets/img/care_500.png" aria-hidden="true">
                                <p class="text-values text-center">Working on Projects We Believe In</p>
                                <p class="text-secondary">We know that if we work on games, and with
      companies we believe in you’ll get our best work product. We’re particularly passionate
      about games and companies that bolster underrepresented voices.</p>
                        </div>
                        <div class="valuespad col-lg-6">
                          <img class="values" src= "{{site.baseurl}}/assets/img/employee_well_being_500.png" aria-hidden="true">
                                <p class="text-values text-center">Employee Well-Being</p>
                                <p class="text-secondary">We’re firmly against crunch culture and know that our employees
      deserve to be compensated fairly for the work they do in order to create a culture we
      believe in and provide our best work possible.</p>
                        </div>
                        </div>
                      </div>
    </section>
    </about>
